*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.git/
.idea/
coverage/
examples/
docs/
local/
node_modules/
test/
.github/

TODO.md
jest.config.js
.travis.yml

.DS_Store
.npmignore
.gitignore
.nojekyll
tslint.json
tsconfig.json
deplokay.json
deplokay-docs.json
renovate.json
typedocconfig.json


