*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.git/
.idea/
.nyc_output/
coverage/
examples/
docs/
local/
node_modules/
test/

.DS_Store
.npmignore
.gitignore
.nojekyll
TODO.md
tslint.json
tsconfig.json
deplokay.json
renovate.json
typedocconfig.json


