*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.git/
.idea/
coverage/
examples/
docs/
local/
node_modules/
test/
.github/

TODO.md
jest.config.js
.DS_Store
.npmignore
.gitignore
.gitmodules
.eslintignore
.eslintrc.js
tsconfig.json
typedocconfig.json
RELEASELOG.md


